= t('user_mailer.vote_cast_notification.body.hello', recipient_name: @recipient.name)
\
= t('user_mailer.vote_cast_notification.body.content', title: @movie.title, vote: @vote, voting_user_name: @voting_user.name)
\
= t('user_mailer.vote_cast_notification.body.thanks')
